
@{
    ViewBag.Title = "AddItemInventor";
}

<h2>AddItemInventor</h2>

<div class="x_panel">
    <div class="x_title">
        <h2>Create New Customer </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content" ng-app="myApp2" ng-controller="inventoryCtrl as ac">
        <br />
        <form class="form-group">

            <div class="row">
                <label class="control-label col-md-1" for="account-code">Item Category</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <select class="form-control" ng-model="itemCategory">

                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                        <option value="3">Option three</option>
                        <option value="4">Option four</option>
                    </select>
                </div>

            </div>

            <div class="row">
                <label class="control-label col-md-1" for="item-measurement">Item Measurement</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <select class="form-control" ng-model="itemMeasurement">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                        <option value="3">Option three</option>
                        <option value="4">Option four</option>
                    </select>
                </div>

            </div>

            <div class="row">
                <label class="control-label col-md-1" for="item-name">Item Name </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Item Name" class="form-control" ng-model="itemName">
                </div>

            </div>

            <div class="row">
                <label class="control-label col-md-1" for="item-price">Item Price </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Item Price" class="form-control" ng-model="itemPrice">
                </div>

            </div>


            <div class="row">
                <label class="control-label col-md-1" for="item-code">Item Code</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Item Code" class="form-control" ng-model="itemCode">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="item-quantity">Item Quantity</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Item Quantity" class="form-control" ng-model="itemQuantity">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="supplier">Supplier</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Supplier" class="form-control" ng-model="itemSupplier">
                </div>
            </div>



            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-success" ng-click="InsertItem()" style="width:150px"> Save </button>
                    <button class="btn btn-primary" type="reset" style="width:150px">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>

