
@{
    ViewBag.Title = "Customer";
}


<!-- Datatables -->
<h3>Customer </h3>

<div class="x_panel">
    <div class="x_title">
        <h2>Create New Customer </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        @*<form class="form-group">*@

            <div class="row">
                <label class="control-label col-md-1" for="customer-type">Customer Type </label>
                <div class="radio-inline">
                    <div class="radio">
                        <label><input type="radio" class="flat" name="iCheck" value="Customer/Walk-In" /> Customer/Walk-In </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="flat" name="iCheck"  value="Contractual" /> Contractual </label>
                    </div>
                    <div class="radio">
                        <label> <input type="radio" class="flat" name="iCheck"  value="Dealer" /> Dealer </label>
                    </div>                    

                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="account-code">Account Code </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Account Code" class="form-control" id="accountCode">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="first-name">First Name</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="First Name" class="form-control" id="firstName">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="last-name">Last Name</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Last Name" class="form-control" id="lastName" >
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="adress">Address</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Address" class="form-control" id="address">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="terms">Terms</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Terms" class="form-control" id="terms" >
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-1" for="contact-number">Contact Number</label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder="Copntact Number" class="form-control" id="contactNumber" >
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-success" onclick="return AddCustomerAccount()" style="width:150px"> Save </button>
                    <button class="btn btn-primary" type="reset" style="width:150px">Reset</button>
                </div>
            </div>

        @*</form>*@
    </div>
</div>
