
@{
    ViewBag.Title = "AccountTransaction";
}

<div class="modal fade bs-example-modal-lg" id="transaction" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Account Transaction</h4>
            </div>
            <div class="modal-body">      
                

                    <!--First Row-->
                    <div class="row">
                        <div class="col-sm-1 col-sm col-xs-12 form-group">
                            <label>Account Code:</label>
                        </div>

                        <div class="col-sm-2 col-sm-12  col-xs-12  form-group ">
                            <input type="text" class="form-control input-sm" />
                        </div>

                        <div class="col-sm-1 col-sm-12  col-xs-12 form-group ">
                            <label>Customer Type:</label>
                        </div>

                        <div class="col-sm-2 col-sm-12  col-xs-12 form-group">
                            <input type="text" class="form-control input-sm" />
                        </div>

                        <div class="col-sm-1 col-sm-12 col-xs-12 form-group">
                            <label>Item Name</label>
                        </div>
                    </div>
                    

                    <!--Second Row-->

                    <div class="row">
                        <div class="col-sm-1  col-sm-12  col-xs-12">
                            <label>Customer Name:</label>
                        </div>

                        <div class="col-sm-2  col-sm-12  col-xs-12">
                            <input type="text" class="form-control input-sm" />
                        </div>

                        <div class="col-sm-1 col-sm-12 col-xs-12">
                            <label>Discount:</label>
                        </div>

                        <div class="col-sm-2 col-sm-12 col-xs-12">
                            <input type="text" class="form-control input-sm"/>
                        </div>

                        <div class="col-sm-2 col-sm-2 col-xs-12">
                            <input  type="text" placeholder="Search..." class="form-control input-sm"/>
                        </div>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>